---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome."
        description="Welcome to my website built using the Astro Framework. While it's still a work in progress, my goal is to capture and share my journey, learning experiences, and projects.">

    <main>
        <div class="projects" style="display: flex">
            <h1>My Projects</h1>
            <p class="introduction">Over the last year I have contributed to the following projects</p>
            <div class="project">
                <h2><a href="https://steam.minibuilds.io/">Steam Game Picker</a></h2>
                <p>The Steam Game Picker is a web application designed to randomly select a game from a user's Steam
                    library.
                </p>
                <p>This project was created, deployed and monitored using the following: </p>
                <ul>
                    <li>Typescript</li>
                    <li>Angular</li>
                    <li>Java</li>
                    <li>Spring Framework</li>
                    <li>Kubernetes</li>
                    <li>Docker</li>

                </ul>
                <img class="project-image" src=`${import.meta.env.BASE_URL}src/assets/images/steam-game-picker.png` alt="Steam game picker image"/>

            </div>
            <div class="project">
                <h2><a href="https://dex.minibuilds.io/login">Dex</a></h2>
                <p>Dex is an application that enables users to monitor and manage data, ranging from personal weight
                    tracking to tracking time spent on specific activities. With Dex, users have the ability to create
                    personalized tables and dashboards, facilitating convenient organization, sorting, and visualization
                    of
                    their data.</p>

                <p>This project was created, deployed and monitored using the following: </p>
                <ul>
                    <li>Typescript</li>
                    <li>Angular</li>
                    <li>Java</li>
                    <li>Spring Framework</li>
                    <li>Kubernetes</li>
                    <li>Docker</li>
                </ul>
                <img class="project-image" src="/tpptaylor-web/src/assets/images/dex.png" alt="Dex image"/>
                <p class="note">*Dex is under active development and is not finished</p>
            </div>

        </div>


    </main>
</Layout>

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    h1 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .introduction {
        display: flex;
        font-size: 1.2rem;
        font-weight: 400;
        margin-bottom: 2rem;
    }

    .project {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
    }

    h2 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    a {
        color: #007bff;
        text-decoration: none;
    }

    p {
        font-size: 1.2rem;
        line-height: 1.5;
        margin-bottom: 0.5rem;
    }

    ul {
        margin-bottom: 1rem;
        padding-left: 2rem;
    }

    li {
        font-size: 1.2rem;
        line-height: 1.5;
        list-style-type: disc;
        margin-bottom: 0.5rem;
    }

    .projects {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .project-image {
        max-width: 100%;
        display: flex;
    }
    @media (max-width: 400px) {
        .project-image {
            max-width: 300px;
        }
    }
    .note {
        font-size: 0.9rem;
        font-style: italic;
        color: #888;
        margin-top: 2rem;
    }

</style>
