---
import Hero from "../components/Hero.astro";
export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{title}</title>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/tpptaylor-web/src/assets/images/favicon.svg" />
		<meta name="generator" content={Astro.generator} /></head>
	<body>
	<Hero title={title} description={description}/>

		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #20d820 30%, #020402 60%);
	}
	main {
		max-width: 1140px;
		margin: 0 auto;
		padding: 2rem;
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}

	* {
		font-family: 'Atkinson Hyperlegible', serif;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		text-decoration: none;
	}
</style>
